body {
    background-color: #000 !important;
    color: #fff !important;
}

ul li {
    background-color: #000 !important;
}

.form-check-input[type=checkbox]{
    width: 2em !important;
    height: 2em !important;
    border: 1px solid #000 !important;
}